.nv-file-over {
    border: dotted 3px red;
}

.not-approved {
    opacity: 0.2;
}

.img-wrapper {
    position: relative;
}

.img-text {
    position: absolute;
    left: 15%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 30%;
    width: 100%;
}